/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    margin-top: 60px;
}

div.signup-option {
    float: left;
    width: 45%;
}
div.signup-middle {
    float: left;
    width: 5%;
}
div.btn-facebook {
    margin: auto;
    width: 300px;
}
div.btn-facebook a {
    width: 100%;
}
