/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face {
    font-family: "JennaSue";
    src: url("/static/css/JennaSue.ttf") /* TTF file for CSS3 browsers */
}

body {
    margin-top: 60px;
}
body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}

#header {
    max-width: 1024px;
    min-height: 30px;
    margin: auto;
    background-color: transparent;
    background-image: url('/static/img/welree_0000_Header-Mask.png');
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    border: 0px;
}
#header img.triple {
    height: 28px;
    padding-top: 5px;
}
#header input[type=search] {
    height: 1em;
    width: 360px;
    margin-top: 4px;
    background-color: #768079;
    border-radius: 3px;
    font-size: 0.9em;
}
#header .glyphicon-search {
    margin-top: -5px;
}
#header img.logo {
    width: 120px;
    margin-left: -60px;
    position: absolute;
    left: 50%;
    bottom: -15px;
}
#header li a {
    padding-top: 8px;
    padding-bottom: 5px;
}
div#main, div.container-base {
    padding: 0px;
}

div.body-container {
    max-width: 1024px;
    margin: auto;
}

.navbar-brand {
    font-family: 'JennaSue', sans-serif;
    font-size: 4em;
}
.font-special {
    font-family: 'JennaSue', sans-serif;
    font-size: 1.5em;
}

div.signup-option {
    float: left;
    width: 45%;
}
div.signup-middle {
    float: left;
    width: 5%;
}
div.btn-facebook {
    margin: auto;
    width: 300px;
}
div.btn-facebook a {
    width: 100%;
}
