.view-collection .collection-title {
  font-size: 22pt;
  font-weight: bold;
}
.view-collection .collection-description {
  font-size: 18pt;
}
.view-collection .gradient {
  background: -moz-linear-gradient(top, #e0e0e0 0%, #fff 15%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(15%,#fff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #fff 15%);
  background: linear-gradient(top, #e0e0e0 0%, #fff 15%); /* W3c */
}
.view-collection .col-md-12 {
  padding: 0px !important;
}
