{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/upload.css" />
{% endblock %}
{% block below_container %}
    <p class="text-error">{{ error_msg }}</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 well ideabooks">
                <h4>IdeaBooks:</h4>
                <a href="#" data-toggle="modal" data-target="#modal-ideabook-new"><div class="collection-item collection-new">+ Add New</div></a>
                {% for collection in ideabooks %}
                    <div class="collection-item">{{ collection.name }}</div>
                {% endfor %}

                {{ macros.tastypie_modal_form('ideabook-new', '/api/v1/collection/', form_ideabook_new, 'New IdeaBook', 'Create Collection') }}
            </div>
            <div class="col-lg-6 well jewelboxes">
                <h4>JewelBoxes:</h4>
                <a href="#" data-toggle="modal" data-target="#modal-jewelbox-new"><div class="collection-item collection-new">+ Add New</div></a>
                {% for collection in jewelboxes %}
                    <div class="collection-item">{{ collection.name }}</div>
                {% endfor %}

                {{ macros.tastypie_modal_form('jewelbox-new', '/api/v1/collection/', form_jewelbox_new, 'New JewelBox', 'Create Collection') }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 well">
                <h4>Add a new piece:</h4>
                <form class="form-tastypie" action="/api/v1/jewelry/" enctype="multipart/form-data" redirect="{{ url("item", pk=999) }}">{% csrf_token %}
                    <p class="text-error"></p>
                    {{ form_jewelryitem_new|as_bootstrap() }}
                    <input type="submit" value="Upload" class="btn btn-primary pull-right">
                </form>
            </div>

            <div class="col-lg-4 upload-sidebar">
                <div class="well">Guidance on photo resolution, sizes, etc.</div>
                <div class="well">Social sharing options.</div>
                <div class="well">Copyright notice.</div>
            </div>
        </div>
    </div>
{% endblock %}
