<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="">
        <title>{% block title %}Welree{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.2-dist/css/cosmo.min.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
            <link rel="stylesheet" type="text/css" href="/static/css/collection.css"/>
        {% endcompress %}
        {# compress extra_css in a separate block so changes in local page CSS don't blow the entire cache, yet local pages don't have to send down the entire CSS each time #}
        {% compress css %}
            <style type="text/css">.logged-{{"out" if request.user.is_authenticated() else "in"}} { display:none !important; }</style>
            {% block extra_css %}{% endblock %}
        {% endcompress %}
        {% if "phase2" in request.GET %}<link rel="stylesheet" type="text/css" href="http://welree.mediaheat.com/wp-content/uploads/2015/06/phase2.css"/>{% endif %}
        <script>
            welree = {};
            welree.facets = {{ json(welree_facets) }};
            welree.user_collections = {{ json(user_collections) }};
            welree.is_authenticated = {{ json(request.user.is_authenticated()) }};
            welree.likes = {{ json(likes) }};
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
    <div class="body-container">
        {% include "header.jinja" %}
        {% block above_container %}{% endblock %}

        <div class="container" id="main" role="main">
            <div class="message-container">
                {% for message in messages %}
                    <div{% if message.tags %} role="alert" class="alert alert-dismissable alert-{{ message.tags.replace("error", "danger") }}"{% endif %}>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="container container-base">{% block content %}{% endblock %}</div>
            {% block below_container %}{% endblock %}
        </div>

        {% compress js %}
            <script src="/static/js/jquery-1.11.2.min.js"></script>
            <script src="/static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
            <script src="/static/js/javascript.js"></script>
        {% endcompress %}
        {% block extra_js %}{% endblock %}
    </div>
    <div id="footer" class="clearfix hidden-xs">
        <div class="body-container">
            <div class="social">
                <a href="#"><img src="/static/img/facebook.png"></a>
                <a href="#"><img src="/static/img/twitter.png"></a>
                <a href="#"><img src="/static/img/email.png"></a>
            </div>
            <span class="footer-links">
                <a href="#">ABOUT</a>
                <a href="#">CONTACT US</a>
                <a href="#">COPYRIGHT&copy; 2015</a>
            </span>
            <div class="app-store">
                <a href="#"><img class="app-store" src="/static/img/app-store.png"></a>
            </div>
            <div class="padding"></div>
        </div>
    </div>
    </body>
</html>
