{% extends "base.jinja" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_collection.css"/>
    <style type="text/css">
      .tile-ideabook-create {
        display: none;
      }
    </style>
{% endblock %}
{% block below_container %}
    {% include "my_collection.jinja" %}
{% endblock %}
