<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <img src="/static/img/welree_0004_logo-with-icon.png" class="logo">

      <form class="form-inline pull-left">
          <div class="form-group has-feedback">
              <img src="/static/img/triple.png" class="triple">
              <input type="search" class="form-control input-small" placeholder="Search jewelry, designers, blogs, & more">
              <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
      </form>

      <ul class="nav navbar-nav pull-right logged-out nav-text">
        <li><a href="{{ url("signup") }}">Sign Up</a></li>
        <li><a href="{{ url("login") }}">Log In</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <li><a href="#">COMMUNITY</a></li>
      <li><a href="#">DESIGNERS</a></li>
      <li><a href="#">EDITORIAL</a></li>
      <li class="dropdown logged-in pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-{{ "sunglasses" if request.user.is_designer else "user" }} " aria-hidden="true"></span>
            <span class="font-special">My Welree</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {% if request.user.is_designer %}
              <li><a href="#">My Collections</a></li>
          {% else %}
              <li><a href="#">My IdeaBooks</a></li>
              <li><a href="#">My Jewel Box</a></li>
          {% endif %}
          <li class="divider"></li>
          <li><a href="{{ url("designer_upload") if request.user.is_designer else url("consumer_upload") }}">Upload Photos</a></li>
          <li class="divider"></li>
          <li><a href="#">Profile</a></li>
          <li><a href="/logout/">Sign out</a></li>
        </ul>
      </li>
      </ul>
    </div>
</div>
