{% extends "base.jinja" %}
{% block extra_css %}
<style type="text/css">
    body {
        margin-top: 0px;
    }

    div.editorial {
        width: 25%;
        display: inline-block;
        margin-top: 10px;
        text-transform: uppercase;
    }
    div.editorial .inner {
        background-color: gray;
        height: 300px;
        position: relative;
    }
    div.editorial .topper {
        text-align: right;
    }
    div.editorial .title {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        font-size: 2em;
    }
    div.editorial .read-more {
        border: 3px solid white;
        border-radius: 3px;
        text-decoration: none;
        color: white;
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        bottom: 15px;
    }
    div.editorial.notfirst {
        padding-left: 10px;
    }
    div.editorial img {
    }

</style>
{% endblock %}
{% import "macros.jinja" as macros %}
{% block content %}
    {{ macros.home_carousel(curated) }}
    {% strip %}
    <div class="editorials">
        {% for i in [1,2,3,4] %}
            <div class="editorial {{ " notfirst" if not loop.first else "" }}">
                <div class="inner">
                    <div class="topper">Trends</div>
                    <div class="title">Top 5 Trends</div>
                    <a class="read-more">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endstrip %}
{% endblock %}
