{% extends "base.jinja" %}
{% block extra_css %}
<style type="text/css">
    body {
        margin-top: 0px;
        color: white;
    }

    #header.expanded {
        background-color: transparent;
    }
    #header.expanded .gradient {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        background-image: url('/static/img/nav-gradient.png');
    }

    div.editorials {
        margin-top: 10px;
    }
    div.editorials a {
        color: white;
        text-decoration: none;
    }
    div.editorial {
        width: 25%;
        display: inline-block;
        margin-top: 10px;
        text-transform: uppercase;
        color: white;
    }
    div.editorial .inner {
        height: 427px;
        position: relative;
    }
    div.editorial .topper {
        text-align: right;
        padding-right: 5px;
        background-color: rgba(100, 100, 100, 0.5);
    }
    div.editorial img {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    div.editorial .title {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 90px;
        font-size: 2em;
        padding-left: 5px;
        padding-right: 5px;
    }
    div.editorial .read-more {
        border: 2px solid white;
        border-radius: 3px;
        color: white;
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        bottom: 15px;
        font-size: 0.9em;
        text-align: center;
        padding: 3px;
        background-color: rgba(255,255,255,0.3);
    }
    div.editorial.notfirst {
        padding-left: 10px;
    }
    div.community-banner {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        background-color: rgb(140, 140, 140);
        position: relative;
    }
    div.community-banner div {
      display: inline-block;
      margin-left: 50px;
      height: 100px;
    }
    div.community-banner .community {
        margin-top: 10px;
        font-size: 4em;
    }
    .featured-collection {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .featured-collection img {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .featured-collection > div {
        float: left;
        height: 100px;
        width: 25%;
    }
    .featured-collection .inner {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .featured-collection > div:not(:first-child) img {
        left: 0px;
        overflow: hidden;

    }
    .featured-collection > div:not(:first-child) {
        padding-left: 10px;
    }
    .featured-collection .collection-primary {
        width: 50%;
        text-align: center;
        position: relative;
    }
    .featured-collection .collection-name {
        font-size: 1.6em;
        text-transform: uppercase;
        position: absolute;
        left: 10px;
    }
    .featured-collection .collection-owner {
        position: absolute;
        top: 0px;
        right: 3px;
        font-size: 1.8em;
    }
    .featured-collection .gradient {
        width: 100%;
        height: 40px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url('/static/img/nav-gradient.png');
        background-size: contain;
    }
    .editorial, .featured-collection {
        text-shadow: 1px 1px rgba(140, 140, 140, .8);
    }

    @media (max-width: 767px) {
        div.community-banner .description {
            width: 330px;
        }
        div.editorial {
            width: 50%;
        }
    }
    @media (max-width: 511px) {
        div.community-banner .description {
            display: none;
        }
    }
</style>
{% endblock %}
{% import "macros.jinja" as macros %}
{% block content %}
    {{ macros.home_carousel(curated) }}
    {% strip %}
    <div class="editorials">
        {% for editorial in editorials %}
            <a href="{{ editorial.url }}" target="_blank">
            <div class="editorial {{ " notfirst" if not loop.first else "" }} {{ " hidden-xs" if loop.index > 2 }}">
                <div class="inner">
                    {{ sorlimgtag(editorial.photo, "256x427", crop="center") }}
                    <div class="topper">{{ editorial.category }}</div>
                    <div class="title">{{ editorial.title }}</div>
                    <div class="read-more">Read More</div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
    {% endstrip %}
    <div class="community-banner">
        <div class="community font-special vcenter">Community</div>
        <div class="description vcenter">Ut massa menatibus auctor! Odio, risus aliquet platea duis, porta, sagittis.</div>
    </div>
    {% macro collection_primary(collection) %}
        <div class="collection-primary">
            <div class="gradient"></div>
            <div class="inner">
                {{ sorlimgtag(collection.annotated_photos[0], "512x100", crop="center") }}
                <p class="collection-name">{{ collection.name }}</p>
                <p class="collection-owner font-special">{{ collection.owner.full_name }}</p>
            </div>
        </div>
    {% endmacro %}
    {% for collection in featuredcollections %}
        <a href="#">
        <div class="featured-collection clearfix">
            {% if loop.index is odd %}{{ collection_primary(collection) }}{% endif %}
            <div class="secondary"><div class="inner">
                {% if collection.annotated_photos[1] %}
                    {{ sorlimgtag(collection.annotated_photos[1], "256x100", crop="center") }}
                {% else %}
                    <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
                {% endif %}
            </div></div>
            <div class="secondary"><div class="inner">
                {% if collection.annotated_photos[2] %}
                    {{ sorlimgtag(collection.annotated_photos[2], "256x100", crop="center") }}
                {% else %}
                    <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
                {% endif %}
            </div></div>
            {% if loop.index is even %}{{ collection_primary(collection) }}{% endif %}
        </div>
        </a>
    {% endfor %}
{% endblock %}
{% block extra_js %}
    <script>
        $(function() {
            var editorials = $('.editorials');
            var xs_cue = $('#hidden-xs');
            $(window).on('scroll resize', function() {
                if (!xs_cue.is(':visible')) {
                    $('#header').removeClass('expanded').addClass('contracted');
                } else if ($(window).scrollTop() > editorials.position().top - 20) {
                    $('#header').removeClass('expanded').addClass('contracted');
                } else {
                    $('#header').removeClass('contracted').addClass('expanded');
                }
            }).triggerHandler('resize');
        });
    </script>
{% endblock %}
