{% extends "base.jinja" %}
{% block extra_css %}
<style type="text/css">
    body {
        margin-top: 0px;
        color: white;
    }

    div.editorials a {
        color: white;
        text-decoration: none;
    }
    div.editorial {
        width: 25%;
        display: inline-block;
        margin-top: 10px;
        text-transform: uppercase;
        color: white;
    }
    div.editorial .inner {
        height: 300px;
        position: relative;
    }
    div.editorial .topper {
        text-align: right;
        padding-right: 5px;
        background-color: rgba(100, 100, 100, 0.5);
    }
    div.editorial img {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    div.editorial .title {
        width: 100%;
        text-align: center;
        margin-top: 90px;
        font-size: 2em;
        padding-left: 5px;
        padding-right: 5px;
    }
    div.editorial .read-more {
        border: 2px solid white;
        border-radius: 3px;
        color: white;
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        bottom: 15px;
        font-size: 0.9em;
        text-align: center;
        padding: 3px;
        background-color: rgba(255,255,255,0.3);
    }
    div.editorial.notfirst {
        padding-left: 10px;
    }
    div.community-banner {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        line-height: 100px;
        background-color: rgb(140, 140, 140);
    }
    div.community-banner span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal; 
      margin-left: 50px;
    }
    div.community-banner .community {
        font-size: 4em;
    }
    .featured-collection {
        width: 100%;
        margin-top: 10px;
    }
    .featured-collection img {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .featured-collection > div {
        float: left;
        height: 100px;
        width: 25%;
    }
    .featured-collection .inner {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .featured-collection > div:not(:first-child) img {
        left: 0px;
        overflow: hidden;

    }
    .featured-collection > div:not(:first-child) {
        padding-left: 10px;
    }
    .featured-collection .collection-primary {
        width: 50%;
        text-align: center;
    }
    .featured-collection .collection-name {
        font-size: 2em;
        text-transform: uppercase;
    }
    .featured-collection .collection-owner {
        position: absolute;
        top: 0px;
        right: 3px;
        font-size: 1.8em;
    }
</style>
{% endblock %}
{% import "macros.jinja" as macros %}
{% block content %}
    {{ macros.home_carousel(curated) }}
    {% strip %}
    <div class="editorials">
        {% for i in [1,2,3,4] %}
            <a href="#">
            <div class="editorial {{ " notfirst" if not loop.first else "" }}">
                <div class="inner">
                    <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
                    <div class="topper">Trends</div>
                    <div class="title">Kate Middletown in NYC</div>
                    <div class="read-more">Read More</div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
    {% endstrip %}
    <div class="community-banner">
        <span class="community font-special">Community</span>
        <span class="description">Ut massa menatibus auctor! Odio, risus aliquet platea duis, porta, sagittis.</span>
    </div>
    {% macro collection_primary(collection) %}
        <div class="collection-primary">
            <div class="inner">
                <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
                <p class="collection-name vcenter">Collection Name</p>
                <p class="collection-owner font-special">Jane Doe</p>
            </div>
        </div>
    {% endmacro %}
    {% for i in [1, 2, 3] %}
        <div class="featured-collection clearfix">
            {% if loop.index is odd %}{{ collection_primary(0) }}{% endif %}
            <div class="secondary"><div class="inner">
                <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
            </div></div>
            <div class="secondary"><div class="inner">
                <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
            </div></div>
            {% if loop.index is even %}{{ collection_primary(0) }}{% endif %}
        </div>
    {% endfor %}
{% endblock %}
