{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
    .row {
        overflow: hidden;
    }
    [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    img.img-thumbnail {
        height: 140px;
        width: 140px;
    }
    #disqus_thread {
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block below_container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                {{ macros.individual_carousel(item) }}
            </div>
            <div class="col-lg-6 well">
                <h4>Details:</h4>
                <p>{{ item.description }}</p>
                <p>Part of collection "{{ collection.name }}."</p>
                {% if item.url %}<p>From: {{ item.url|urlize }}</p>{% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h4>About this {{ owner.noun }}:</h4>
                {{ owner.bio.rendered|safe }}
            </div>
            <div class="col-lg-6">
                <div>
                    <h4>Photos in this collection:</h4>
                    {{ macros.thumb_row(related_collection, collection) }}
                </div>
                    
                <div>
                    <h4>Similar to this photo:</h4>
                    {{ macros.thumb_row(related_similar, collection) }}
                </div>
            </div>
        </div>
    </div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = '{{ disqus_shortname }}';
        // The last fragment of the URL is the item name which can change, don't use that as part of the unique identifier.
        var disqus_url = window.location.href.split('/').slice(0, -1).join('/');
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}
