{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
    .row {
        overflow: hidden;
    }
    [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    img.img-thumbnail {
        height: 140px;
        width: 140px;
    }
</style>
{% endblock %}
{% block below_container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                {{ macros.individual_carousel(item) }}
            </div>
            <div class="col-lg-6 well">
                <h4>Details:</h4>
                <p>{{ item.description }}</p>
                <p>Part of collection "{{ item.collection.name }}."</p>
                {% if item.url %}<p>From: {{ item.url|urlize }}</p>{% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h4>About this {{ owner.noun }}:</h4>
                {{ owner.bio.rendered|safe }}
            </div>
            <div class="col-lg-6">
                <div>
                    <h4>Photos in this collection:</h4>
                        {% set count = 3 %}
                        {% for item in related_collection %}
                            {% if item.primary_photo %}
                                <a href="{{ item.get_absolute_url() }}">{{ sorlimgtag(item.primary_photo, "140x140", crop="center", classes="img-thumbnail") }}</a>
                                {% set count = count-1 %}
                            {% endif %}
                        {% endfor %}
                        {% for i in range(1, count) %}
                            <img src="" class="img-thumbnail">
                        {% endfor %}
                </div>
                    
                <div>
                    <h4>Similar to this photo:</h4>
                    <img src="" class="img-thumbnail">
                    <img src="" class="img-thumbnail">
                    <img src="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
