{% macro tastypie_modal_form(name, endpoint, form, title, action) -%}
    <div class="modal fade modal-tastypie" id="modal-{{name}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body">
            <form action="{{ endpoint }}" enctype="multipart/form-data">{% csrf_token%}
                {{ form|as_bootstrap() }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">{{ action }}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{%- endmacro %}

{% macro individual_carousel(jewelryitem, w=580, h=400) %}
<div>
    <div id="top-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        {% for item in jewelryitems %}
            <li data-target="#top-carousel" data-slide-to="{{ loop.index0 }}" class="{{ "active" if loop.first else "" }}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for photo in [jewelryitem.primary_photo] %}
          <div class="item {{ "active" if loop.first else "" }}">
              {{ sorlimgtag(photo, "%sx%s"%(w,h), crop="center")|safe }}
          </div>
      {% endfor %}
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
        <div class="chevron chevron-left" aria-hidden="true"></div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
        <div class="chevron chevron-right" aria-hidden="true"></div>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
{% endmacro %}
{% macro home_carousel(jewelryitems, w=1024, h=600) %}
<div>
    <div id="top-carousel" class="carousel slide" style="max-width:1024px;height:{{h}}px;margin:auto;">
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for item in jewelryitems %}
          <div class="item {{ "active" if loop.first else "" }}">
              {% set collection = item.collections.first() %}
              <a href="{{ item.get_absolute_collection_url(collection) }}">
                  {{ sorlimgtag(item.primary_photo, "%sx%s"%(w,h), crop="center") }}
              </a>
              <a href="{{ item.get_absolute_collection_url(collection) }}">
                  <div class="carousel-caption">
                    <h4>{{ item.description|truncatechars(80) }}</h4>
                  </div>
              </a>
          </div>
      {% endfor %}
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
        <div class="chevron chevron-left" aria-hidden="true"></div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
        <div class="chevron chevron-right" aria-hidden="true"></div>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
{% endmacro %}
