{% macro tastypie_modal_form(name, endpoint, form, title, action) -%}
    <div class="modal fade modal-tastypie" id="modal-{{name}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body">
            <form action="{{ endpoint }}" enctype="multipart/form-data">{% csrf_token%}
                {{ form|as_bootstrap() }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">{{ action }}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{%- endmacro %}

{% macro thumb_row(items, collection, count=3) %}
    {% for item in items %}
        {% if item.primary_photo %}
            <a href="{{ item.get_absolute_collection_url(collection) }}">{{ sorlimgtag(item.primary_photo, "140x140", crop="center", classes="img-thumbnail") }}</a>
        {% endif %}
    {% endfor %}
    {% for i in range(3-items|length) %}
        <img src="" class="img-thumbnail">
    {% endfor %}
{% endmacro %}

{% macro individual_carousel(jewelryitem, w=580, h=400) %}
<div>
    <div id="top-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        {% for item in jewelryitems %}
            <li data-target="#top-carousel" data-slide-to="{{ loop.index0 }}" class="{{ "active" if loop.first else "" }}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for photo in [jewelryitem.primary_photo] %}
          <div class="item {{ "active" if loop.first else "" }}">
              {{ sorlimgtag(photo, "%sx%s"%(w,h), crop="center")|safe }}
          </div>
      {% endfor %}
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
        <div class="chevron chevron-left" aria-hidden="true"></div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
        <div class="chevron chevron-right" aria-hidden="true"></div>
        <span class="sr-only">Next</span>
      </a>
      <div class="carousel-actions">
        <a href="#" class="action-heart"><img src="/static/img/action-heart.png"></a>
        <a href="#" class="action-add" data-item-id="{{ jewelryitem.id }}"><img src="/static/img/action-add.png"></a>
      </div>
    </div>
</div>
{% endmacro %}
{% macro home_carousel(jewelryitems, w=1024, h=600) %}
<div>
    <div id="top-carousel" class="carousel slide" style="max-width:1024px;min-height:100px;margin:auto;">
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for item in jewelryitems %}
          {% set collection = item.collections.first() %}
          {% set url = item.get_absolute_collection_url(collection) %}
          <div class="item {{ "active" if loop.first else "" }}" data-item-id="{{ item.id }}" data-item-url="{{ url }}">
              <div class="carousel-footer"></div>
              <a href="{{ url }}">
                  {{ sorlimgtag(item.primary_photo, "%sx%s"%(w,h), crop="center") }}
              </a>
              <a href="{{ url }}">
                  <div class="carousel-caption">
                    <h4>{{ item.description|truncatechars(80) }}</h4>
                  </div>
                  <div class="carousel-designer font-special">{{ collection.owner.full_name }}</div>
              </a>
          </div>
      {% endfor %}
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
        <div class="chevron chevron-left" aria-hidden="true"></div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
        <div class="chevron chevron-right" aria-hidden="true"></div>
        <span class="sr-only">Next</span>
      </a>
      <div class="carousel-actions">
        <a href="#" class="action-heart"><img src="/static/img/action-heart.png"></a>
        <a href="#" class="action-add"><img src="/static/img/action-add.png"></a>
        <a href="#" class="action-info"><img src="/static/img/action-info.png"></a>
      </div>
    </div>
</div>
{% endmacro %}
