{% macro tastypie_modal_form(name, endpoint, form, title, action) -%}
    <div class="modal fade modal-tastypie" id="modal-{{name}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body">
            <form action="{{ endpoint }}" enctype="multipart/form-data">{% csrf_token%}
                {{ form|as_bootstrap() }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">{{ action }}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{%- endmacro %}

{% macro thumb_row(items, collection, count=3) %}
    {% for item in items %}
        {% if item.primary_photo %}
            <a href="{{ item.get_absolute_collection_url(collection) }}">{{ sorlimgtag(item.primary_photo, "140x140", crop="center", classes="img-thumbnail") }}</a>
        {% endif %}
    {% endfor %}
    {% for i in range(3-items|length) %}
        <img src="" class="img-thumbnail">
    {% endfor %}
{% endmacro %}

{% macro individual_carousel(likes, collection, jewelryitem, w=580, h=400) %}
<div>
    <div id="top-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        {% for item in jewelryitems %}
            <li data-target="#top-carousel" data-slide-to="{{ loop.index0 }}" class="{{ "active" if loop.first else "" }}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for photo in [jewelryitem.primary_photo] %}
          <div class="item {{ "active" if loop.first else "" }}">
              {{ sorlimgtag(photo, "%sx%s"%(w,h), crop="center")|safe }}
          </div>
      {% endfor %}
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
        <div class="chevron chevron-left" aria-hidden="true"></div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
        <div class="chevron chevron-right" aria-hidden="true"></div>
        <span class="sr-only">Next</span>
      </a>
      <div class="carousel-actions">
        {% if jewelryitem.id in likes %}
          <a href="#" class="action-unlike"><img src="/static/img/heart-active.png"></a>
        {% else %}
          <a href="#" class="action-like"><img src="/static/img/action-heart.png"></a>
        {% endif %}
        <a href="#" class="action-add" data-collection-id="{{ collection.id }}" data-item-id="{{ jewelryitem.id }}"><img src="/static/img/action-add.png"></a>
      </div>
    </div>
</div>
{% endmacro %}
{% macro home_carousel(jewelryitems, w=1024, h=600) %}
    <div id="top-carousel" class="carousel slide" style="max-width:1024px;min-height:100px;margin:auto;">
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for item in jewelryitems %}
          {% set collection = item.collections.first() %}
          {% set url = item.get_absolute_collection_url(collection) %}
              <div class="item {{ "active" if loop.first else "" }}" data-collection-id="{{ collection.id }}" data-item-id="{{ item.id }}" data-item-url="{{ url }}">
              <div class="carousel-footer"></div>
              <a href="{{ url }}">
                  {{ sorlimgtag(item.primary_photo, "%sx%s"%(w,h), crop="center") }}
              </a>
              <a href="{{ url }}">
                  <div class="carousel-caption">
                    <h4>{{ item.description|truncatechars(80) }}</h4>
                  </div>
                  <div class="carousel-designer font-special"><a href="{{ collection.owner.get_absolute_url() }}">{{ collection.owner.full_name }}</a></div>
              </a>
          </div>
      {% endfor %}
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
        <div class="chevron chevron-left" aria-hidden="true"></div>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
        <div class="chevron chevron-right" aria-hidden="true"></div>
        <span class="sr-only">Next</span>
      </a>
      <div class="carousel-actions">
        <a href="#" class="action-like"><img src="/static/img/action-heart.png"></a>
        <a href="#" class="action-add"><img src="/static/img/action-add.png"></a>
        <a href="#" class="action-info"><img src="/static/img/action-info.png"></a>
      </div>
    </div>
{% endmacro %}
{% macro collection_primary(collection) %}
    <div class="collection-primary">
        <div class="inner">
            <div class="gradient"></div>
            <img class="collection-border collection-border-left" src="/static/img/collection-bg-left.png">
            <img class="collection-border collection-border-right" src="/static/img/collection-bg-right.png">
            {% if collection.annotated_photos[0] %}
              {{ sorlimgtag(collection.annotated_photos[0], "512x100", crop="center", classes="collection") }}
            {% else %}
              <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg" width="512" height="100">
            {% endif %}
            <p class="collection-name">{{ collection.name }}</p>
            <p class="collection-owner font-special">{{ collection.owner.full_name }}</p>
        </div>
    </div>
{% endmacro %}
{% macro collection_rows(collections) %}
  {% for collection in collections %}
      <a href="{{ collection.get_absolute_url() }}">
      <div class="featured-collection clearfix">
          {% if loop.index is odd %}{{ collection_primary(collection) }}{% endif %}
          <div class="secondary"><div class="inner">
              {% if collection.annotated_photos[1] %}
                  {{ sorlimgtag(collection.annotated_photos[1], "256x100", crop="center", classes="collection") }}
              {% else %}
                  <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg" class="collection">
              {% endif %}
          </div></div>
          <div class="secondary"><div class="inner">
              {% if collection.annotated_photos[2] %}
                  {{ sorlimgtag(collection.annotated_photos[2], "256x100", crop="center", classes="collection") }}
              {% else %}
                  <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg" class="collection">
              {% endif %}
          </div></div>
          {% if loop.index is even %}{{ collection_primary(collection) }}{% endif %}
      </div>
      </a>
  {% endfor %}
{% endmacro %}

{% macro tile(image, title, url, default_image=None, w=200, h=150) %}
      <div class="tile-ideabook">
        <div class="tile-image phase2-border">
          {% if image %}
            <a href="{{ url }}">{{ sorlimgtag(image, "{}x{}".format(w, h), crop="center") }}</a>
          {% elif default_image %}
            <a href="{{ url }}"><img src="{{ default_image }}" width="{{w}}" height="{{h}}"></a>
          {% endif %}
        </div>
        <div class="tile-name">{{ title }}</div>
      </div>
{% endmacro %}

{% macro grid_ideabooks(ideabooks, max=999, w=200, h=150, my=False) %}
  <div class="clearfix">
    <div class="tile-ideabook tile-ideabook-create">
      <a href="#" data-toggle="modal" data-target="#modal-collection-new-main">
        <div class="phase2-border">
          <img src="/static/img/icon-new-ideabook.png">
        </div>
        <div>CREATE IDEABOOK</div>
      </a>
    </div>
    {% for book in ideabooks[:max] %}
      {% set image = book.annotated_photos[0] if book.annotated_photos else None %}
      {% set url = '?collection={}'.format(book.id) if my else book.get_absolute_url() %}
      {{ tile(image, book.name, url, w, h) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro grid_likes(items, max=999) %}
  <div class="clearfix">{% for item in items[:max] %}
    {{ tile(item.get_primary_photo(), item.item.description, item.get_absolute_url()) }}
  {% endfor %}</div>
{% endmacro %}

{% macro grid_follows(items, max=999) %}
  <div class="clearfix">{% for item in items[:max] %}
    {{ tile(item.photo, item.username, item.get_absolute_url(), default_image="/static/img/person.svg.png") }}
  {% endfor %}</div>
{% endmacro %}

{% macro hr(title) %}
  <div class="border-wrapper"><div class="border-primary">{{ title }}</div><div class="border-span"></div></div>
{% endmacro %}
