{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
  .my-header {
    text-align: bottom;
  }
  .my-header h1, .my-header a {
    display: inline-block;
  }
  .my-header h1.font-special {
    font-size: 3em;
  }
  .my-header a, .my-header a:hover, .my-header a:visited {
    font-size: 1.2em;
    font-weight: bold;
    color: #999;
    margin-left: 20px;
    text-decoration: none;
  }
  .my-header a:hover, .my-header a.active {
    border-bottom: 7px solid #27bdbe;
  }
</style>
{% endblock %}
{% block below_container %}
  <div class="my-header">
    <h1 class="font-special">My Welree</h1>
    <a href="#ideabooks" class="tab active">IdeaBooks</a>
    <a href="#styleme" class="tab">Style Me</a>
    <a href="#likes" class="tab">Likes</a>
    <a href="#community" class="tab">Community</a>
    <a href="{{ url("settings") }}">Profile</a>
  </div>
  <div class="tab-content">
     <div role="tabpanel" class="tab-pane active" id="ideabooks">IdeaBooks</div>
     <div role="tabpanel" class="tab-pane" id="styleme">Style Me</div>
     <div role="tabpanel" class="tab-pane" id="likes">Likes</div>
     <div role="tabpanel" class="tab-pane" id="community">Community</div>
  </div>
{% endblock %}
{% block extra_js %}<script>
  $(function() {
    $('.my-header a.tab').on('click', function(e) {
      e.preventDefault();
      $('.my-header a').removeClass('active');
      var target = $(this).addClass('active').attr('href');
      $('.tab-pane.active').stop(true, true).fadeOut(300, function() {
        $(this).removeClass('active');
        $(target).fadeIn(300).addClass('active');
      });
    });
  });
</script>{% endblock %}
