{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
  .my-header {
    text-align: bottom;
  }
  .my-header h1, .my-header a {
    display: inline-block;
  }
  .my-header h1.font-special {
    font-size: 3em;
  }
  .my-header a, .my-header a:hover, .my-header a:visited {
    font-size: 1.2em;
    font-weight: bold;
    color: #999 !important;
    margin-left: 20px;
    text-decoration: none;
  }
  .my-header a:hover, .my-header a.active {
    border-bottom: 7px solid #27bdbe;
  }
  #ideabooks .right {
    padding: 10px;
    background-color: #ccc;
  }
  .collection-description a {
    color: #27bdbe;
  }
  .col-md-12.slider {
    padding-right: 0px;
    overflow-x: scroll;
  }

  .follower {
    width: 20%;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    color: white;
}

.follower img {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
 .follower .topper {
    text-align: right;
    padding-right: 5px;
    background-color: rgba(100, 100, 100, 0.5);
}

.follower .inner {
    height: 180px;
    position: relative;
}

a{
    color: #0094DE;
    text-decoration: none;
}
</style>
{% endblock %}
{% block below_container %}
  <p class="text-error">{{ error_msg }}</p>
  <div class="my-header">
    <h1 class="font-special"><a href="#mywelree" class="tab active">My Welree</a></h1>
    <a href="#ideabooks" class="tab">IdeaBooks</a>
    <a href="#styleme" class="tab">Style Me</a>
    <a href="#likes" class="tab">Likes</a>
    <a href="#community" class="tab">Community</a>
    <a href="#followers" class="tab">Followers</a>
    <a href="#profile" class="tab">Profile</a>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mywelree">
    <h4>Recent Activity</h4>
      {% if my_activity %}
        {% for activity in my_activity %}
          {% if activity.kind == 0 %}
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} {{ activity.owner.full_name }} Followed designer 
              {{ activity.content_object.full_name }} at
              <a href="{{  activity.content_object.get_absolute_url() }}">{{ activity.content_object }}</a>
              </h5>
          {% endif %}
          {% if activity.kind == 1 %}
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} UnFollowed designer </h5>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="ideabooks">
      {% if collections %}
        <div class="row">
            <div class="col-md-12 slider">
                {{ macros.slider(collections, form_collection_new) }}
            </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            {% for item in list(collection.items.all())*3 %}
              {{ sorlimgtag(item.primary_photo, "190x190", crop="center") }}
            {% endfor %}
          </div>
          <div class="col-md-5 right collection-description">
            <h1>{{ collection.name }}</h1>
            <p>{{ collection.description }}</p>
          </div>
        </div>
      {% else %}
        You don't currently have any collections. Create one!
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="styleme">Style Me</div>
    <div role="tabpanel" class="tab-pane" id="likes">
      {% if my_likes %}
        <h4>Items I've liked</h4>
        {% for like in my_likes %}
            <a href="{{ like.item.get_absolute_collection_url(like.collection) }}">{{ sorlimgtag(like.item.primary_photo, "140x105", crop="center", classes="phase2") }}</a>
        {% endfor %}
      {% endif %}
      {% if my_liked %}
        <h4>My items others like</h4>
        {% for like in my_liked %}
            <a href="{{ like.item.get_absolute_collection_url(like.collection) }}">{{ sorlimgtag(like.item.primary_photo, "140x105", crop="center", classes="phase2") }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="community">
      <p>New collections from designers you follow will appear here</p>
      {{ macros.collection_rows(followingcollections) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="followers">
      <p>People following you</p>
        {% for person in followers %}
          <a href="{{ person.get_absolute_url() }}" target="_blank">
          <div class="follower">
              <div class="inner">
              <div class="topper">{{ person.full_name }}</div>
              {% if person.photo %}
                {{ sorlimgtag(person.photo, "180x180", crop="center") }}
              {% else %}
                <img src="/static/img/person.svg.png" width="100%">
              {% endif %}
             </div> 
          </div>
        {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div class="clearfix">
          <h4 class="pull-left">Update your profile:</h4>
          <a href="{{ request.user.get_absolute_url() }}" class="pull-right btn btn-primary">View profile</a>
        </div>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
            <input style="display:none"><input type="password" style="display:none">
            {{ profile_form|as_bootstrap() }}
            <input type="submit" value="Update" class="btn btn-primary pull-right">
        </form>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
<script>
  $(function() {
    var fade = 0;
    $('.my-header a.tab').on('click', function(e) {
      $('.my-header a').removeClass('active');
      var target = $(this).addClass('active').attr('href');
      $('.tab-pane.active').stop(true, true).fadeOut(fade, function() {
        $(this).removeClass('active');
        $(target).fadeIn(fade).addClass('active');
      });
    });
    if (window.location.hash) {
      $('a[href='+window.location.hash+']').click();
    } else {
      $('a[href=#ideabooks]').click();
    }
    fade = 300;
  });
</script>
{% endblock %}
