{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/view_collection.css"/>
<style type="text/css">
  .my-header {
    text-align: bottom;
  }
  .my-header h1, .my-header a {
    display: inline-block;
  }
  .my-header h1.font-special {
    font-size: 3em;
  }
  .my-header a, .my-header a:hover, .my-header a:visited {
    font-size: 1.2em;
    font-weight: bold;
    color: #999 !important;
    margin-left: 20px;
    text-decoration: none;
    border-bottom: 7px solid #fff;
  }
  .my-header a:hover, .my-header a.active {
    border-bottom: 7px solid #27bdbe;
  }
  #ideabooks .right {
    padding: 10px;
    background-color: #ccc;
  }
  .collection-description a {
    color: #27bdbe;
  }
  .col-md-12.slider {
    padding-right: 0px;
    overflow-x: scroll;
  }

  .follower {
    width: 20%;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    color: white;
  }

  .follower img {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .follower .topper {
    text-align: right;
    padding-right: 5px;
    background-color: rgba(100, 100, 100, 0.5);
  }
  .follower .inner {
    height: 180px;
    position: relative;
  }

  .tab-pane .border-wrapper {
    margin-top: 40px;
  }
  #profile a:not(.btn) {
    color: #27bdbe;
  }
  .user-activity a, .user-activity a:hover, .user-activity a:visited {
    font-weight: bold;
    color: #27bdbe !important;
    text-decoration: none;
  }

  #modal-addtocollection .modal-dialog {
    margin-top: 70px;
  }
  #modal-addtocollection .modal-title {
    position: absolute;
    top: -30px;
    left: 0px;
    color: #fff;
  }
  #modal-addtocollection .modal-footer-buttons {
    position: absolute;
    bottom: -50px;
    right: 0px;
  }
  #modal-addtocollection .modal-body {
    position: relative;
  }
  #modal-addtocollection .btn-primary {
    background-color: #27bdbe;
    border-color: #27bdbe;
  }
  #modal-addtocollection .btn-danger {
    background-color: #d25e60;
    border-color: #d25e60;
  }
</style>
{% endblock %}
{% block below_container %}
  <p class="text-error">{{ error_msg }}</p>
  {{ macros.tastypie_modal_form('collection-new-main', '/api/v1/collection/', form_collection_new, 'New Collection', 'Create Collection') }}
  <div class="my-header">
    <h1 class="font-special">
      <span class="glyphicon glyphicon-{{ "sunglasses" if request.user.is_designer else "user" }} " aria-hidden="true"></span>
      <a href="#mywelree" class="tab active">My Welree</a>
    </h1>
    <a href="#ideabooks" class="tab">IdeaBooks</a>
    {#<a href="#styleme" class="tab">Style Me</a>#}
    <a href="#likes" class="tab">Likes</a>
    {#<a href="#community" class="tab">Community</a>#}
    <a href="#followers" class="tab">Followers</a>
    <a href="#profile" class="tab">Profile</a>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mywelree">
      <div class="border-wrapper"><div class="border-primary">{{ len(collections) }} IDEABOOKS</div><div class="border-span"></div></div>
      {{ macros.grid_ideabooks(collections, max=3, my=True) }}
      <div class="border-wrapper"><div class="border-primary">{{ len(relevant_likes) }} LIKES</div><div class="border-span"></div></div>
      {{ macros.grid_likes(relevant_likes, max=8) }}
      <div class="border-wrapper"><div class="border-primary">{{ len(relevant_follows) }} {{ "FOLLOWERS" if request.user.is_designer else "FOLLOWING" }}</div><div class="border-span"></div></div>
      {{ macros.grid_follows(relevant_follows, max=8) }}
      <div class="border-wrapper"><div class="border-primary">RECENT ACTIVITY</div><div class="border-span"></div></div>
      {% if my_activity %}
        {% for activity in my_activity %}
          {% if activity.kind == 0 %}
            <div class="user-activity">
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} {{ activity.owner.full_name }} Followed designer 
              <a href="{{  activity.content_object.get_absolute_url() }}">{{ activity.content_object.full_name }}</a>
              </h5>
            </div>
          {% endif %}
          {% if activity.kind == 1 %}
            <div class="user-activity">
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} UnFollowed designer <a href="{{  activity.content_object.get_absolute_url() }}">{{ activity.content_object.full_name }}</a>
              </h5>
            </div>
          {% endif %}
          {% if activity.kind == 2 %}
            <div class="user-activity">
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} Created collection 
              <a href="{{  activity.content_object.get_absolute_url() }}">{{ activity.content_object.name }}</a>
              </h5>
            </div>
          {% endif %}
          {% if activity.kind == 3 %}
            <div class="user-activity">
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} Added new photo
              <a href="{{  activity.content_object.get_absolute_url() }}">{{ sorlimgtag(activity.content_object.primary_photo, "140x105", crop="center", classes="phase2") }}</a>
              </h5>
            </div>
          {% endif %}
          {% if activity.kind == 4 %}
            <div class="user-activity">
              <h5> {{ activity.timestamp.strftime('%m/%d/%Y %I:%M:%S %p') }} Liked photo
              <a href="{{ activity.content_object.get_absolute_url() }}">{{ sorlimgtag(activity.content_object.primary_photo, "140x105", crop="center", classes="phase2") }}</a>
              </h5>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="ideabooks">
      {% if collection %}
        {% include "my_collection.jinja" %}
      {% else %}
        {{ macros.hr("{} IDEABOOKS".format(len(collections))) }}
        {{ macros.grid_ideabooks(collections, max=999, my=True) }}
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="styleme">Style Me</div>
    <div role="tabpanel" class="tab-pane" id="likes">
      {% if my_likes %}
        <div class="border-wrapper"><div class="border-primary">ITEMS I'VE LIKED</div><div class="border-span"></div></div>
        {{ macros.grid_likes(my_likes, max=100) }}
      {% endif %}
      {% if my_liked %}
        <div class="border-wrapper"><div class="border-primary">MY ITEMS OTHERS LIKE</div><div class="border-span"></div></div>
        {{ macros.grid_likes(my_liked, max=100) }}
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="community">
      <p>New collections from designers you follow will appear here</p>
      {{ macros.collection_rows(followingcollections) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="followers">
      <div class="border-wrapper"><div class="border-primary">{{ len(relevant_follows) }} {{ "FOLLOWERS" if request.user.is_designer else "FOLLOWING" }}</div><div class="border-span"></div></div>
      {{ macros.grid_follows(relevant_follows, max=999) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div class="clearfix">
          <h4 class="pull-left">Update your profile:</h4>
          <a href="{{ request.user.get_absolute_url() }}" class="pull-right btn btn-primary">View profile</a>
        </div>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
            <input style="display:none"><input type="password" style="display:none">
            {{ profile_form|as_bootstrap() }}
            <input type="submit" value="Update" class="btn btn-primary pull-right">
            <legend>Optional: Upload additional photos</legend>
            {{ inline_photos.management_form|safe }}
            {% for form in inline_photos %}
                <div class="django-inline">{{ form|as_bootstrap() }}</div>
            {% endfor %}
        </form>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
<script>
  $(function() {
    var fade = 0;
    var redirect_check = function() {};
    $('.my-header a.tab').on('click', function(e) {
      redirect_check(this);
      $('.my-header a').removeClass('active');
      var target = $(this).addClass('active').attr('href');
      $('.tab-pane.active').stop(true, true).fadeOut(fade, function() {
        $(this).removeClass('active');
        $(target).fadeIn(fade).addClass('active');
      });
    });
    if (window.location.hash) {
      $('a[href='+window.location.hash+']').click();
    } else {
      window.location.hash = 'ideabooks';
      $('a[href=#ideabooks]').click();
    }
    fade = 300;
    redirect_check = function(that) {
      if ($(that).attr('href') == '#ideabooks' && window.location.href.indexOf('?collection=') !== -1) {
        window.location.href = '/my/#ideabooks';
      }
    }
    $('a[href="#modal-addtocollection"]').attr('data-toggle', 'modal');
  });
</script>
{% endblock %}
