{% extends "base.jinja" %}
{% block extra_css %}
<style type="text/css">
    div.btn-facebook {
        margin-top: 100px;
    }
    div.signup-middle {
        margin-top: 120px;
    }
    button.submit-email {
        margin-left: -15px;
    }
</style>
{% endblock %}
{% block content %}
<div class="well">
    <p class="text-error">{{ error_msg }}</p>
    <div class="clearfix">
        <div class="signup-option">
            <div class="btn-facebook">
                <a class="btn btn-lg btn-facebook btn-primary" href="{{ url("social:begin", "facebook") }}">Signup with Facebook</a>
            </div>
        </div>
        <div class="signup-middle">- or -</div>
        <div class="signup-option">
            <form class="form-horizontal" action="{{ url("signup") }}" method="post">
              {% csrf_token %}
              {{ signup_form|as_bootstrap() }}
              <button type="submit" class="submit-email btn btn-default">Signup with email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
