{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
  .designer-container {
    position: relative;
    margin-top: -76px;
    width: 100%;
  }
  .designer-image .img {
    width: 100%;
    height: 850px;
    background-image: url("{{ user.photo.url|safe }}");
    background-size: cover;
  }
  .designer-name, .designer-blurb {
    position: absolute;
    right: 20px;
    width: 350px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px #000;
  }
  .designer-name {
    top: 70px;
    height: 185px;
    font-size: 32pt;
    text-align: center;
  }
  .designer-blurb {
    top: 275px;
    height: 450px;
    opacity: 0.85;
  }
  .designer-blurb img {
    width: 100%;
    height: 170px;
  }
  .designer-blurb .subtitle {
    font-size: 18pt;
    padding: 30px 30px 0px;
  }
  .designer-blurb .blurb {
    font-size: 12pt;
    padding: 0px 30px 30px;
  }
  .designer-five {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
  }
  .designer-five img {
    width: 100px;
    height: 100px;
    border: 3px solid #e0e0e0;
    margin: 0px 5px;
  }
  .designer-five img:hover {
    border: 3px solid #27bdbe;
  }
  .designer-five-title {
    width: 100%;
    text-align: center;
    font-size: 22pt;
    text-transform: uppercase;
  }
  .col-img img {
    width: 100%;
    height: 300px;
  }
  .col-txt {
    font-size: 12pt;
  }
  .row {
    margin-bottom: 10px;
  }
  .row-bottom {
    margin: 10px;
  }
</style>
{% endblock %}

{% block above_container %}
  <div class="designer-container">
    <div class="designer-image">
      <div class="img"></div>
      <div class="designer-name">{{ user.full_name }}</div>
      <div class="designer-blurb">
        <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
        <p class="subtitle">Subtitle for Sydney Joe</p>
        <div class="blurb">{{ user.bio.rendered|truncatechars(280)|safe }}</div>
      </div>
      <div class="designer-five">
        {% for i in range(5) %}
          <img src="https://farm8.staticflickr.com/7634/16557874227_3ab8190bdd_b.jpg">
        {% endfor %}
      </div>
    </div>
  </div>
  <p class="designer-five-title">{{ user.first_name }}'s work</p>

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-txt">{{ user.bio.rendered|safe }}</div>
    <div class="col-md-4 col-img">
      {% if photos[0] %}{{ sorlimgtag(photos[0].photo, "425x300", crop="center") }}{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-img">
      {% if photos[1] %}{{ sorlimgtag(photos[1].photo, "800x300", crop="center") }}{% endif %}
    </div>
    <div class="col-md-4 col-img">
      {% if photos[2] %}{{ sorlimgtag(photos[2].photo, "425x300", crop="center") }}{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-txt">{{ user.about_studio.rendered|safe }}</div>
    <div class="col-md-4 col-img">
      {% if photos[3] %}{{ sorlimgtag(photos[3].photo, "425x300", crop="center") }}{% endif %}
    </div>
  </div>
  </div>

  <div class="row-bottom">
    <div class="border-wrapper"><div class="border-primary">COLLECTIONS</div><div class="border-span"></div></div>
    COLLECTIONS
    <div class="border-wrapper"><div class="border-primary">COMMUNITY</div><div class="border-span"></div></div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>

  {#<div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 profile-pic">
              <div class="name">{{ user.full_name }}</div>
              <div class="follow">
                {% if not user.id in following %}
                  <form class="form-tastypie" action="/api/v1/user/follow/">
                    <input type="hidden" value="{{ user.id }}" name="designer_id">
                    <input type="submit" value="Follow" class="btn btn-primary pull-right">
                  </form>
                {% else %}
                  <form class="form-tastypie" action="/api/v1/user/unfollow/">
                    <input type="hidden" value="{{ user.id }}" name="designer_id">
                    <input type="submit" value="Unfollow" class="btn btn-primary pull-right">
                  </form>
                {% endif %}
              </div>
              {% if user.photo %}
                  {{ sorlimgtag(user.photo, "482x482", crop="center") }}
              {% else %}
                  <img src="/static/img/person.svg.png" width="100%">
              {% endif %}
            </div>
            <div class="col-lg-6 well">
                <h4>About this {{ user.noun }}:</h4>
                {{ user.bio.rendered|safe }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h4>Collections:</h4>
                {{ macros.collection_rows(collections) }}
            </div>
        </div>
  </div>
  #}
{% endblock %}
{% block extra_js %}
    {% include "disqus.jinja" %}
{% endblock %}
