{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/designer.css"/>
<style type="text/css">
.designer-image .img {
  background-image: url("{{ user.cover_photo.url|safe if user.cover_photo else "/static/img/person.svg.png" }}");
}
.tile-ideabook-create {
  display: none;
}
</style>
{% endblock %}

{% block above_container %}
  <div class="designer-container">
    <div class="designer-image">
      <div class="img"></div>
      <div class="designer-name">
        {% if user.logo %}
          {{ sorlimgtag(user.logo, "350x185", crop="center") }}
        {% else %}
          {{ user.full_name }}
        {% endif %}
      </div>
      <div class="designer-blurb">
        {% if user.photo %}
          {{ sorlimgtag(user.photo, "350x170", crop="center") }}
        {% else %}
          <img src="/static/img/person.svg.png">
        {% endif %}
        <p class="subtitle">Subtitle for Sydney Joe</p>
        <div class="blurb">{{ user.bio.rendered|truncatechars(280)|safe }}</div>
      </div>
      <div class="designer-five">
        {% for item in item_photos %}
          <a href="{{ item.get_absolute_url() }}">{{ sorlimgtag(item.primary_photo, "100x100", crop="center") }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <p class="designer-five-title">{{ user.first_name }}'s work</p>

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-txt">{{ user.bio.rendered|safe }}</div>
    <div class="col-md-4 col-img">
      {% if photos[0] %}{{ sorlimgtag(photos[0].photo, "425x300", crop="center") }}{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-img">
      {% if photos[1] %}{{ sorlimgtag(photos[1].photo, "800x300", crop="center") }}{% endif %}
    </div>
    <div class="col-md-4 col-img">
      {% if photos[2] %}{{ sorlimgtag(photos[2].photo, "425x300", crop="center") }}{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-txt">{{ user.about_studio.rendered|safe }}</div>
    <div class="col-md-4 col-img">
      {% if photos[3] %}{{ sorlimgtag(photos[3].photo, "425x300", crop="center") }}{% endif %}
    </div>
  </div>
  </div>

  <div class="row-bottom">
    <div class="border-wrapper"><div class="border-primary">COLLECTIONS</div><div class="border-span"></div></div>
    {{ macros.grid_ideabooks(collections) }}
    <div class="border-wrapper border-community"><div class="border-primary">COMMUNITY</div><div class="border-span"></div></div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
{% endblock %}
{% block extra_js %}
    {% include "disqus.jinja" %}
{% endblock %}
