{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
    .container-base {
        display: none;
    }
    
    .collection-item {
        height: 100px;
        width: 100px;
        border: 1px solid black;
        text-align: center;
        display: inline-block;
    }

    .upload-sidebar {
        padding-right: 0px;
    }
</style>
{% endblock %}
{% block below_container %}
    <p class="text-error">{{ error_msg }}</p>

    <div class="container-fluid">
        <div class="row"><div class="col-lg-12 well">
            <h4>Collections:</h4>
            <a href="#" data-toggle="modal" data-target="#modal-collection-new"><div class="collection-item collection-new">+ Add New</div></a>
            {% for collection in collections %}
                <div class="collection-item">{{ collection.name }}</div>
            {% endfor %}

            {{ macros.tastypie_modal_form('collection-new', '/api/v1/collection/', form_collection_new, 'New Designer Collection', 'Create Collection') }}
        </div></div>
        <div class="row">
            <div class="col-lg-8 well">
                <h4>Add a new piece:</h4>
                <form class="form-tastypie" action="/api/v1/jewelry/" enctype="multipart/form-data">{% csrf_token %}
                    <p class="text-error"></p>
                    {{ form_jewelryitem_new|as_bootstrap() }}
                    <input type="submit" value="Upload" class="btn btn-primary pull-right">
                </form>
            </div>

            <div class="col-lg-4 upload-sidebar">
                <div class="well">Guidance on photo resolution, sizes, etc.</div>
                <div class="well">Social sharing options.</div>
                <div class="well">Copyright notice.</div>
            </div>
        </div>
    </div>
{% endblock %}
