{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}
{% block extra_css %}
<style type="text/css">
    .collection-item {
        height: 100px;
        width: 100px;
        border: 1px solid black;
        text-align: center;
        display: inline-block;
    }
</style>
{% endblock %}
{% block content %}

    <p class="text-error">{{ error_msg }}</p>

        <h4>Collections:</h4>
        <a href="#" data-toggle="modal" data-target="#modal-collection-new"><div class="collection-item collection-new">+ Add New</div></a>
        {% for collection in collections %}
            <div class="collection-item">{{ collection.name }}</div>
        {% endfor %}

        {{ macros.tastypie_modal_form('collection-new', '/api/v1/collection/', form_collection_new, 'New Designer Collection', 'Create Collection') }}
    </div>


    <div class="container well">
        <h4>Add a new piece:</h4>
        <form class="form-tastypie" action="/api/v1/jewelry/">{% csrf_token %}
            <p class="text-error"></p>
            {{ form_jewelryitem_new|as_bootstrap() }}
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
{% endblock %}
